<div class="main_heading" style="text-align: center;">
	<h1>chai.io</h1>
</div>

<%= form_tag({:controller => "sessions", :action => "create"}, :method => "post", :class => "form-signin") do %>

	<h2 class="form-signin-heading">Please sign in</h2>
	<input type="text" name="email" class="input-block-level" placeholder="Email address">
	<input type="password" name="password" class="input-block-level" placeholder="Password">
	<label class="checkbox">
		<input type="checkbox" value="remember-me"> Remember me
	</label>
	
	<button class="btn btn-large btn-primary" type="submit">Sign in</button>
	
<% end %>