<div class="page-header">
	<h1>Your Projects</h1>
</div>

<div class="">
	<table class="table table-striped">
		
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		
		<tbody>
			<% @projects.each do |p|%>
				<tr>
					<td>
						<%= p.name %>
					</td>
					<td><%= p.description %></td>
					<td>
						<%= link_to 'Edit', edit_project_path(p) %>
					</td>
					<td>
						<%= link_to 'Delete', project_path(p), :method => :delete, :confirm => "Are you sure?" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>