<div id="dv_report_list">
  <div id="dv_table">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% @dashboards.each do |d| %>
        <tr>
          <td>
            <%= link_to d.title, project_dashboard_path(d.project, d) %>
          </td>
          <td>
            Edit
          </td>
          <td>
            Delete
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
