// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  /*-webkit-animation: rainbow 8s infinite;*/
}

@-webkit-keyframes blur {
  0%   { -webkit-filter: blur(0px); }
  49%   { -webkit-filter: blur(0px); }
  50%   { -webkit-filter: blur(1px); }
  51%   { -webkit-filter: blur(0px); }
  100%   { -webkit-filter: blur(0px); }
}

@-webkit-keyframes spin {
  0%   { -webkit-transform: rotate(0deg); }
  100%   { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes rainbow {
  100% { -webkit-filter: hue-rotate(360deg); }
}

@-webkit-keyframes fall {
  0%   { -webkit-transform: none; }
  100%   { -webkit-transform: rotateX(-90deg); }
}

body {
	/*-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);*/
	-webkit-animation: rainbow 5s infinite;
  	font-family: 'Comic Sans MS', cursive !important;
}

.control-label {
	margin-top: 10px;
	font-weight: bold;
}

#editor {
	height: 200px;
	width: 600px;
	border: 1px solid #CCCCCC;
}

textarea.query {
    width: 98%;
	display: none;
}

.radio_label {
	margin-right: 10px;
}

#aggregation_config {
	margin-top: 220px !important;
}

.filters-form {
	/*margin-left: 70px;*/
}

.form-inline {
	margin-top: 10px;
}

.form-inline select, input {
	margin-right: 10px;
}

.tbl_r_col {
	cursor: pointer;
	text-decoration: underline;
}

.modal-body p {
	text-align: center;
}

#txt_public_url {
	width: 80%;
}