// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea.query {
    width: 98%;
}

.radio_label {
	margin-right: 10px;
}

.filters {
	margin-top: 20px;
}

.filters-form {
	margin-left: 70px;
}

.form-inline {
	margin-top: 10px;
}

.form-inline select, input {
	margin-right: 10px;
}