<script type="text/html" id="report_details">

  <ul class="list-group">
    {{#data}}
      <li class="list-group-item">{{column}}: <strong> {{value}} </strong> </li>
    {{/data}}
  </ul>

</script>


<!--
     
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
</ul>

-->