<script type="text/html" id="report_table">
	<% unless @embed %>
	<form class="form-search">
    	<input id="search_keywords" type="text" class="input-medium search-query" placeholder="Search">
    </form>
	<% end %>
	
	<table id="tbl_report" class="table table-striped">
		<thead>
			<tr>
			{{#columns}}
				<th class="tbl_r_col">{{.}}</th>
			{{/columns}}
			</tr>
		</thead>
		
		<tbody id="tbody">
			{{>tpl_table_body_partial}}
			{{>tpl_summary_row}}
		</tbody>
		
	</table>
</script>


<script type="text/html" id="tpl_table_body">
	{{>tpl_table_body_partial}}
</script>


<script type="text/html" id="tpl_table_body_partial" class="partial">
	{{#data}}
		<tr>
			{{#values}}
				<td>{{.}}</td>
			{{/values}}
		</tr>
	{{/data}}
</script>


<script type="text/html" id="tpl_summary_row" class="partial">
	{{#has_summary}}
		<tr>
			{{#summary}}
				<th class="tbl_r_col">{{.}}</th>
			{{/summary}}
		</tr>
	{{/has_summary}}
</script>