<script type="text/html" id="report_table">

	<% unless @embed %>
		<form class="form-search row">
	    	<input id="search_keywords" type="text" class="form-control input-medium search-query" placeholder="Search">
	  	</form>
	<% end %>

	<br/>
	<!-- Build your select: -->

	<div class="row">
		Columns: 
		<select class="multiselect" multiple="multiple">
			{{#columns}}
				<option value="{{.}}" SELECTED>{{.}}</option>
			{{/columns}}
		</select>
	</div>
		
	<table id="tbl_report" class="table table-striped row">
		<thead id="thead">
			<tr>
				{{>tpl_table_head_partial}}
			</tr>
		</thead>
		
		<tbody id="tbody">
			{{>tpl_table_body_partial}}
			{{>tpl_summary_row}}
		</tbody>
		
	</table>
</script>

<script type="text/html" id="tpl_table_head">
	{{>tpl_table_head_partial}}
</script>


<script type="text/html" id="tpl_table_body">
	{{>tpl_table_body_partial}}
</script>

<script type="text/html" id="tpl_table_head_partial" class="partial">
	{{#columns}}
		<th class="tbl_r_col">{{.}}</th>
	{{/columns}}
</script>

<script type="text/html" id="tpl_table_body_partial" class="partial">
	{{#data}}
		<tr>
			{{#values}}
				<td>{{{.}}}</td>
			{{/values}}
		</tr>
	{{/data}}
</script>


<script type="text/html" id="tpl_summary_row" class="partial">
	{{#has_summary}}
		<tr>
			{{#summary}}
				<th class="tbl_r_col">{{.}}</th>
			{{/summary}}
		</tr>
	{{/has_summary}}
</script>