<% content_for :custom_style_in_head do %>
text {
  font: 12px sans-serif;
}

#pie_chart {
  height: 700px;
  margin: 10px;
  min-width: 100px;
  min-height: 100px;
}
<% end %>

<script type="text/html" id="report_pie_chart">
	<div id="bar_chart">
		<svg id="svg_pie_chart"></svg>
	</div>
</script>