<script type="text/html" id="tpl_filters">
	<form id="form_filters" class="form-inline filters-form" style="margin-top: 0px;" method="GET" action="">
		
		{{#filters}}
			<label class="control-label">{{label}}</label>
			{{{filter_control}}}
		{{/filters}}
		
		<input type="submit" class="btn btn-primary" value="Refresh">
	</form>
	
</script>

<script type="text/html" id="f_ctl_text">
	<input type="text" class="input-small" name="{{placeholder}}" value="{{value}}">
</script>

<script type="text/html" id="f_ctl_datepicker">
	<input type="text" class="datepicker input-small" data-behaviour="datepicker" name="{{placeholder}}" value="{{value}}">
</script>
