<div class="page-header">
	<h1>Reports for Project: <%= @project.name %></h1>
</div>


<ul class="nav nav-pills">
  <li class="active">
    <%= link_to 'New Report', new_project_report_path(@project) %>
  </li>
</ul>

<br/>


<%= render 'reports/list' %>