<%= page_heading "Reports for Project: #{@project.name}" %>

<ul class="nav nav-pills">
  <li class="active">
    <%= link_to 'New Report', new_project_report_path(@project) %>
  </li>
</ul>

<br/>


<%= render 'reports/list' %>