<div class="navbar navbar-fixed-bottom" style="min-height: 20px; background-color: #BFCFCF; font-size: 12px;">
  <div class="container">
    <p class="navbar-text pull-left" style="margin-top:5px; margin-bottom:5px;">
      Powered by <a href="https://github.com/saadullahsaeed/chai.io" target="_blank" >Chai.io</a> -
      © 2014 - Saadullah Saeed
    </p>
  </div>
</div>