<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">chai.io</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="<%= @active == 'new_report' ? 'active': ''%>"><a href="/reports/new">New Report</a></li>
              <li class="<%= @active == 'reports' ? 'active': ''%>"><a href="/reports">Reports</a></li>
	          	  <li class="dropdown <%= @active == 'datasources' ? 'active': ''%>">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Datasources <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/datasources/new">New</a></li>
                    <li><a href="/datasources">Datasources</a></li>
                  </ul>
			  </li>
              <li class="<%= @active == 'signout' ? 'active': ''%>"><a href="/sessions/destroy">Sign out</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>